<nav id="navbar">
    <div class="container">
        <h1 class="logo">My Portfolio</h1>
        <ul>
            <li><a href="/" class="<%= currentPage === 'home' ? 'active' : '' %>">Home</a></li>
            <li><a href="/education" class="<%= currentPage === 'education' ? 'active' : '' %>">Education</a></li>
            <li><a href="/experience" class="<%= currentPage === 'experience' ? 'active' : '' %>">Experience</a></li>
            <li><a href="/achievements" class="<%= currentPage === 'achievements' ? 'active' : '' %>">Achievements</a></li>
            <li><a href="/contact" class="<%= currentPage === 'contact' ? 'active' : '' %>">Contact</a></li>
        </ul>
    </div>
</nav>